@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

.colorGold{
	color:#745a3c;
}

.backGold{
	background-color:#745a3c;
}

.colorFFF{
	color:#FFF;
}

.color999{
	color:#999;
}

.color000{
	color:#000;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.left0{
	left:0;
}

.right0{
	right:0;
}

.bodyPart{
	position:relative;
	overflow:auto;
}

#part1{
	background-color:#000;
	background-image:url(../images/dynamic1.jpg);
	background-position:top center;
	background-size: auto 100%;
	background-repeat:no-repeat;
}

#part2{
	background-color:#FFF;
	padding:50px 0;
}

#part3{
	padding:70px 0;
	
	background-color:#000;
	background-image:url(../images/partBack1.jpg);
	background-position:top center;
	background-size: auto 100%;
	background-repeat:no-repeat;
}

#part4{
	background-color:#FFF;
	padding:50px 0;
}

#part5{
	padding:70px 0;
	
	background-color:#000;
	background-image:url(../images/partBack2.jpg);
	background-position:top center;
	background-size: auto 100%;
	background-repeat:no-repeat;
}

#part6{
	background-color:#111215;
	padding:50px 0;
}

#part7{
	height:300px;
}

#part8{
	background-color:#e2e2e2;
	padding:50px 0;
}

.flowPart{
	position:relative;
	
	width:700px;
	max-width:90%;
	
	margin:0 auto;
}

.partTitle{
	position:relative;

	text-align:center;
	text-transform:uppercase;
}

.partTitleUp{
	font-family: 'Playfair Display', serif;
	font-size:50px;
	line-height:50px;
}

.partTitleDown{
	font-size:45px;
	font-family: 'Raleway', sans-serif;
}

.tinyText{
	position:relative;
	
	margin:10px 30px;
	
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
}

.floatsHold{
	position:relative;
	overflow:auto;
	
	margin-top:30px;
}

.floatArt{
	position:relative;
	float:left;
	
	width:30%;
	margin:0 1.5%;
}

.floatArtImg{
	display:block;
	position:relative;
	
	width:100%;
	margin-bottom:20px;
}

.floatArtP1{
	position:relative;
	
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#5f5f5f;
	line-height:17px;
}

.floatArtTitle{
	position:relative;
	
	margin:0 20px;
	margin-bottom:10px;
	
	text-align:center;
	font-family: 'Playfair Display', serif;
	text-transform:uppercase;
	font-size:18px;
}

.readMore{
	position:relative;
	
	width:170px;
	margin:0 auto;
	margin-top:30px;
	padding:20px 0;
	
	background-color:#745a3c;
	
	font-family: 'Raleway', sans-serif;
	text-align:center;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	color:#FFF;
}

.squarePart{
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
}

.squarePartText{
	position:relative;
	
	max-width:200px;
	padding:25px 15px;
	
	text-align:center;
	color:#FFF;
	
	background-color:#745a3c;
	
	z-index:1;
}

.squarePartTextP1{
	font-family: 'Raleway', sans-serif;
	font-size:45px;
	font-weight:bolder;
}

.fontSize18{
	font-size:18px;
}

.squarePartTextP2{
	font-family: 'Playfair Display', serif;
	font-size:20px;
	text-transform:uppercase;
	
	margin:15px 0;
}

.squarePartTextP3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
}

.squarePartImg{
	position:absolute;
	top:0;
	height:100%;
}

.bottomKeyboard{
	position:relative;
	
	margin-bottom:20px;
	
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	text-transform:uppercase;
}

.bottomKeyboard span{
	margin:0 10px;
}

.socialHold{
	position:relative;
	overflow:auto;
	
	width:160px;
	margin:20px auto;
}

.socialButton{
	display:block;
	position:relative;
	float:left;
	
	width:70px;
	height:70px;
	margin:0 5px;
	
	background-color:#FFF;
	
	border-radius:100%;
	
	font-family:"Arial Black", Gadget, sans-serif;
	text-align:center;
	line-height:70px;
	font-size:25px;
}

.socialButton img{
	display:block;
	position:relative;
	
	width:50%;
	margin:25%;
}

#upMenu{
	position:relative;
	
	padding:10px 0;
	margin:50px 0 130px 0;
	
	background:#111215;
}

#upMenu_flowPart{
	position:relative;
	overflow:auto;
}

#logo{
	position:relative;
	float:left;
	
	font-family: 'Playfair Display', serif;
	text-transform:uppercase;
}

#logo p{
	font-size:45px;
	color:#FFF;
	letter-spacing:-3px;
	
	margin-top:-10px;
}

#logo span{
	position:absolute;
	bottom:0;
	left:35px;
	
	font-size:8px;
	word-spacing:5px;
	letter-spacing:3px;
}

#upMenu_keyBoard{
	position:relative;
	float:right;
	overflow:auto;
}

.upMenu_keyBoard_button{
	display:block;
	position:relative;
	float:left;
	
	margin-left:20px;
	
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	line-height:50px;
}

#dynamicKeyBoard{
	position:relative;
	overflow:auto;
	
	width:75px;
	margin:70px auto;
}

.dynamicButton{
	position:relative;
	float:left;
	
	width:11px;
	height:11px;
	margin:0 5px;
	
	border:2px solid #FFF;
	border-radius:100%;
}

@media screen and (max-width: 650px) {
    .floatArt{
		float:none;
		
		width:90%;
		max-width:300px;
		
		margin:0 auto;
		
		margin-bottom:20px;
	}
}

@media screen and (max-width: 450px) {
    .partTitleDown{
		font-size:36px;
	}
}

@media screen and (max-width: 350px) {
	.partTitleUp{
		font-size:40px;
	}
    .partTitleDown{
		font-size:30px;
	}
}